{
  "extends": "airbnb/legacy",
  "env": {
    "browser": true
  },
  globals: {
    "TILE_HEIGHT": true,
    "TILE_WIDTH": true,
    "onmessage": true,
    "PixelImage": true,
    "importScripts": true
  },
  "rules": {
    "comma-dangle": 0,
    "func-names": 0,
    "id-length": 0,
    "no-console": 2,
    "no-use-before-define": 0,
    "one-var": 0,
    "vars-on-top": 0
  }
}
